<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CMCService" version="1.0.0" targetFramework="net461" />
  <package id="IVCam.Tools.Infrastructure.Logging" version="2.6.8" targetFramework="net461" />
  <package id="IVCAM.Tools.Infrastructure.Settings" version="1.0.1" targetFramework="net461" />
  <package id="IVCam.Tools.UI" version="1.3.1" targetFramework="net461" />
  <package id="RealSense.Tools.ProjectorTester.Cmc" version="1.5.1" targetFramework="net461" />
</packages>